.post{
    background-color: bisque;
    width: 500px;
    height: 500px;
    margin: 20px auto;   /* centers the card itself */
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;   /* centers content horizontally */
}
img{
        width: 300px;
        height: 300px;
        object-fit: cover;
}
h2{
        color:rgb(131, 58, 180);
        text-align: center;
}
.content{
    background-color: black;
    color: white;
}
a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  color: green;
}
