<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Sign up</h2><hr>
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                    <label for="username" class="form-label">Enter Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" class="form-control" required>
                    <div class="valid-feedback">Username looks good!</div>
                    <div class="invalid-feedback">Username is required!</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Enter email</label>
                    <input type="email" id="email" name="email" placeholder="Enter email" class="form-control" required>
                    <div class="invalid-feedback">Email is required!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Enter Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" required>
                    <div class="valid-feedback">Password looks good!</div>
                    <div class="invalid-feedback">Password is required!</div>
                </div>                
                <button class="btn btn-success mt-3">SignUp</button><br><br>
        </form>
    </div>
</div>