<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Add new post</h2>
    <div class="post">
        <form method="post" action="/posts">
            <input type="text" name="username" placeholder="Enter your username"><br><br>
            <textarea name="content" placeholder="Enter your caption"></textarea><br><br>
            <input type="text" name="photo" placeholder="Enter photo URL"><br><br>
            <button>Submit</button>
        </form>     
    </div>
</body>
</html>