<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>New user registration</h2>
    <p>Id: <%= id %></p>
    <form method="post" action="/user/<%= id %>/new">
        <input type="text" name="username" placeholder="Enter your username"><br><br>
        <input type="text" name="email" placeholder="Enter your email"><br><br>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>