<%- include("includes/head.ejs") %>
<body>
    <h1>Homepage</h1>
    <h3><%= ["hello", "namaste", "bonjour"][1] %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, sint ducimus. Voluptates aperiam iusto repudiandae ex blanditiis iste, animi, id perferendis sapiente culpa delectus.</p>
    <button>Submit</button>
</body>